<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
<title>Ja Recycla</title>
</head>

<body class="bg-emerald-600">
    <div class="flex flex-col min-h-screen">
      <header class="w-1/2 p-4">
        <img src="/image/JA_RECYCLA_CON_ESPACIO_COMPLETO-removebg-preview.png" alt="Logo" class="w-1/2">
      </header>
      <main class="flex-grow flex flex-col items-center justify-center p-4">
        <h1 class="text-2xl font-semibold mb-4">Título Principal</h1>
        <div class="mb-2 flex items-center">
          <img src="/image/personas.png" alt="Imagen" class="max-w-xs mr-2">
          <div>
            <label class="block font-semibold">Nombre:</label>
            <input class="w-full p-2 border rounded mb-2" type="text" placeholder="Ingresa tu nombre">
            <label class="block font-semibold">Cédula:</label>
            <input class="w-full p-2 border rounded" type="text" placeholder="Ingresa tu cédula">
          </div>
        </div>
      </main>
      <footer class="shadow-md p-4 flex justify-end">
        <button class="px-4 py-2 bg-blue-500 text-white rounded">Enviar</button>
      </footer>
    </div>
  </body>
  </html>

