<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
<title>Ja Recycla</title>
</head>

<body class="min-height-100 bg-gradient-to-t from-emerald-800 via-emerald-700 to-emerald-600 ">
    <div class="flex flex-col min-h-screen">
      <header class="w-1/4">
        <img src="/image/JA_RECYCLA_CON_ESPACIO_COMPLETO-removebg-preview.png" alt="Logo" class="object-center w-56">
      </header>
      <h1 class="text-2xl font-semibold mb-4">El reciclaje es un recordatorio tangible de que nuestras acciones individuales tienen un impacto colectivo poderoso en la construcción de un futuro sostenible.</h1>
      <main class="flex-grow flex items-center justify-center p-10">
        <div class="flex items-center">
          <img src="/image/personas.png" alt="Imagen" class="w-1/2">
          <div class="pl-8 text-2xl">
            <h2 class="text-green-500 font-semibold text-shadow mb-2">GANA RECICLANDO</h2>
            <label class="block font-semibold">Nombre:</label>
            <input class="w-full p-2 border rounded mb-2" type="text" placeholder="Ingresa tu nombre">
            <label class="block font-semibold">Cédula:</label>
            <input class="w-full p-2 border rounded" type="text" placeholder="Ingresa tu cédula">
          </div>
        </div>
      </main>
      <footer class="p-4 flex justify-center">
        <button class="p-6 hover:bg-green-600 text-white transition duration-300 ease-in text-2xl font-semibold mb-3 rounded-full border-2 border-white border-opacity-60">Enviar</button>
      </footer>
    </div>
</body>
</html>

