<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-emerald-600   ">
<header >
    <nav class="bg-emerald-600 ">
            <div>
                <ul class="flex justify-items m-8">
                    <li class="inline-block align-baseline w-16">
                        <a href="">
                            <img src="/image/JA_RECYCLA_CON_ESPACIO_COMPLETO-removebg-preview.png" alt="">
                        </a>
                    </li>
                    <li class="inline-block align-baseline w-32 justify-center" >
                        <a href=""><img src="/image/solo_nombre-removebg-solo loggo.png" alt="Nombre de la empresa Ya recicla"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
        <main>
            <section class="place-items-center bg-blue-100">
                <button type="button"><div><a href=""><img src="../image/anadir.png" alt="Una botella menos" class="w-28 h-28"></a></div></button>
                <div><a href=""><img src="../image/2424874.png" alt="Imagen de botella de plastico"class= w-24></a></div>                
                <div><a href=""><img src="../image/signo-menos-de-una-linea-en-posicion-horizontal.png" alt="Agregar una botella mas" class="w-24"></a></div>
            </section>
        </main>


</body>
</html