<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-emerald-600">
    <div class="flex-left place-item-center w-14"> 
        <div class="">
            <img src="../static/image/LOGO_BOOTCAMP.png" alt="Logo">
            <h1 class="text-white text 2x1">JaRecycla</h1>
        </div>

        <div class="ftext-center mt-20 text-xl">
            <h2 class="text white text-xl">Retire su Comprobante</h2>
        </div>
        <div class="absolute bottom-0 left-0 p-4 w-400">
            <img src="/static/image/basurero_reciclaje.png" alt="Recycling Bin" class="w-16 h-16">
        </div>

        <div class="absolute bottom-0 right-0 p-4">
            <p class="text-white text-sm">Gracias por sumarte al Impacto #JaRecycla</p>
        </div>
     

    
</body>
</html>