<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Importando Tailwind CSS desde CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
  <title>JaRecycla - Código QR Escaneable</title>
  <link rel="icon" type="image/png" href="/static/image/logo_jarecycla.png">
</head>
<body class="bg-emerald-600">
  <div class="container mx-auto px-4 py-4">
    <!-- Título y logo en la esquina superior izquierda -->
    <div class="">
      <img src="{{ url_for('static', filename='image/logo_jarecycla.png') }}" alt="Logo" class="w-24 h-20 ">
    </div>
    
    <div class="flex  mr-10">
      <img src="{{ url_for('static', filename='image/basurero_botellas.png') }}" alt="Recycling Bin" class="w-60 h-65"> <!-- Asegúrate de tener una imagen llamada "recycling-bin.png" en la misma carpeta -->
      <div class="" id="qrCodeContainer">
        <h2 class="text-white text-xl font-semibold">Escanear el QR</h2>
        <img id="qrImage" alt="Código QR" class="flex ml-40">
      </div>
  
    </div>


    <!-- Mensaje "Gracias por sumarte al Impacto #JaRecycla" en la esquina inferior derecha -->
    <div class="absolute bottom-0 right-0 p-4">
      <p class="text-white text-xl font-semibold">Gracias por sumarte al Impacto #JaRecycla</p>
    </div>
  </div>

  <script>
    // Obtiene una referencia al contenedor del código QR
    const qrCodeContainer = document.getElementById('qrCodeContainer');

    // Obtiene una referencia a la imagen donde se mostrará el código QR
    const qrImage = document.getElementById('qrImage');

    // Escucha el evento 'load' para cargar el código QR automáticamente al cargar la página
    window.addEventListener('load', async () => {
      const response = await fetch('/qr');
      const blob = await response.blob();
      const imageUrl = URL.createObjectURL(blob);
      
      qrImage.src = imageUrl;
      qrCodeContainer.style.display = 'block';
    });
  </script>
</body>
</html>