<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-t from-emerald-800 via-emerald-700 to-emerald-600">
    <div class="w-[50] flex justify-center">
            <img class="object-center w-56"
            src="{{url_for('static', filename='image/jalogotodo1.png')}}">
    </div>
        <div class="text-center">
            <p class="p-5"> </p>
            <form action="/sumar_puntos" method="POST">
                <label for="cantidad" class="text-4xl text-white font-semibold p-8">Cantidad de objetos de plástico a reciclar:</label>
                
                <p class="p-8"> </p>
                
                <input type="hidden" value="{{cedula}}" name="cedula" id="cedula" />
                <input type="number" name="cantidad" id="cantidad" required class="block w-96 p-4 rounded-lg mt-2 mx-auto"/>

                <p class="text-1xl text-green-500 font-semibold p-11">Puntos ganados por objeto: 1</p>

                <input type="submit" value="Reciclar" class="p-4 bg-green-100  hover:bg-green-500 text-base font-medium text-center text-emerald-600 transition duration-150 ease-in-out text-2xl font-semibold mb-3 rounded-xl border-2 border-white border-opacity-80"/>

                <p class="p-12"> </p>

              </form>              
        </div>
        <section>
        <div>
    </section>
    
</body>
</html>
