<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-gradient-to-t from-emerald-800 via-emerald-700 to-emerald-600">
        <header>
                <img class="object-center w-56"
                src="/image/LOGO_BOOTCAMP.png">
        </header>
        <div class="text-center">
            <p class="text-4xl text-white font-semibold">
            ¿Qué te gustaría reciclar?
            </p>
        </div>
        <div class="flex justify-center p-8">
            <button class= "animate-pulse transform hover:scale-105">
            <img class="h-80 mx-left"
            src="/image/agua.png">
            </button>

            <button class= "animate-pulse transform hover:scale-105">
            <img class="h-80 mx-center object-center p-2"
            src="/image/caja-de-carton.png">
            </button>

            <button class= "animate-pulse transform hover:scale-105">
            <img class="h-80 mx-center object-center p-2"
            src="/image/lata-de-refresco.png">
            </button>
        </div>
        <div class="p-20"> 

        </div>
</body>
</html>